.header {
  display: flex;
  background-color:white;
}
.header span{
  padding: 5px;
  display: inline-block;
}
.container{
  display: flex;
  background-color: azure;
  padding: 5px;
  width: 100vw;
  margin-top: 0%;
  
}